{%extends 'metro_app/base.html' %}
{% load bootstrap4 %}
{% load widget_tweaks %}
{% load static %}
{% load humanize %}


{% block title %}
{{ simulation.name }} - Metropolis
{% endblock %}


{% block main %}
<script src="{% static 'js/jquery.formset.js' %}"></script>

<center>
    <a role="button" class="btn btn-secondary my-3" href="{% url 'metro:simulation_view' simulation.id %}" title="Go back to the simulation view page">
        <span class="far fa-caret-square-left"></span> Back </a>
</center>

<div class="container">
    <div class="alert alert-primary">
        <h2>Input data</h2>

        On this page, you can define the input data that will be used for each run.
        Everything is optional and, by default, the current input data of the simulation will be used.
        For example, if you want to test different policies, with the same network and travelers data, you only need to upload the road-pricing files.

        <br><br>

        Supported formats for the input files are the same as when importing directly the files into the simulation.
        For travelers, only a zipfile with preferences and O-D matrices is supported (see the Travelers page).

        <br><br>

        Instead of specifying the input data for each input type, you can upload a zip file containing multiple input files (e.g. to only change the road network, you can upload a zipfile containing a <i>zones.tsv</i> file, a <i>intersections.tsv</i> file and a <i>links.tsv</i> file).

        <br><br>

        The first run will start when you click on the <i>Confirm</i> button.
        Following runs start as soon as the previous run finishes.
        You can edit the input data of a run as long as it has not started.
    </div>
</div>

<form action="{% url 'metro:batch_save' simulation.id batch.id %}" method="post" enctype="multipart/form-data">
    {{ formset.management_form }}
    {% csrf_token %}
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Order</th>
                    <th scope="col">Name</th>
                    <th scope="col">Comment</th>
                    <th scope="col">Actions</th>

                </tr>
            </thead>
            <tbody>

                {% for form in formset %}
                    <tr>
                     {% for field in form.hidden_fields %}
                    {{ field }}
                     {% endfor %}
                    <td>{{ forloop.counter }}</td>
                    <td>{{ form.name }}</td>
                    <td>{{ form.comment }}</td>

                    <td>
                        <center>

                      <label for="files" class="btn" >Zones: </label>
                            <br>
                            {{ form.centroid_file }}

                            </center>
                        <br>
                        <center>

                     <label for="files" class="btn">Intersection: </label>
                            <br>
                            {{ form.crossing_file }}
                            </center>
                        <br>

                        <center>
                     <label for="files" class="btn">Congestion Function: </label>
                            <br>
                            {{ form.function_file }}
                            </center>
                        <br>

                        <center>
                      <label for="files" class="btn">Links: </label>
                            <br>
                        {{ form.link_file }}
                            </center>
                        <br>
                         <center>
                      <label for="files" class="btn">Public Transit: </label>
                             <br>
				        {{ form.public_transit_file }}
                          </center>
                        <br>
                          <center>
                       <label for="files" class="btn"> Travelers (Zip File): </label>
                              <br>
                              {{ form.traveler_file }}
                          </center>
                        <br>
                              <center>
                       <label for="files" class="btn">Road Pricing:</label>
                                  <br>
				        {{ form.pricing_file }}
                                  <br>
                                  </center>

                        <center>
                            <label for="files" class="btn"> Zip File: </label>
                            <br>
                            {{ form.zip_file }}
                            <br>
                        </center>
                    </td>
             </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>
    <center>
        <button type="submit"  class="btn btn-outline-primary btn-lg my-3">Confirm</button>
    </center>
</form>

{% endblock %}
