{% extends 'metro_app/base.html' %}
{% load humanize %}
{% load widget_tweaks %}

{% block title %}
{{ simulation.name }} - Metropolis
{% endblock %}

{% block main %}

<center>

{% if demandsegments %}
<table class="table table-hover table-bordered">
	<thead class="thead-light">
		<tr>
			<th scope="col">Name</th>
			<th scope="col">Comment</th>
			<th scope="col">Population</th>
			<th scope="col">Actions</th>
		</tr>
	</thead>
	<tbody>
		{% for demandsegment in demandsegments %}
		<tr>
			<td>{{ demandsegment.usertype }}</td>
			<td>{{ demandsegment.usertype.comment }}</td>
			<td>{{ demandsegment.matrix.total|intcomma }}</td>
			<td>
				<center>
				<div class="btn-group my-1" role="group">
					<a role="button" class="btn btn-outline-primary{% if owner %} w-50{% endif %}" href="{% url 'metro:usertype_view' simulation.id demandsegment.id %}">
						View parameters
					</a>
					{% if owner %}
					<a role="button" class="btn btn-outline-primary w-50" href="{% url 'metro:usertype_edit' simulation.id demandsegment.id %}">
						Edit parameters
					</a>
					{% endif %}
				</div>
				<br>
				<div class="btn-group my-1" role="group">
					<a role="button" class="btn btn-outline-primary w-50" href="{% url 'metro:matrix_main' simulation.id demandsegment.id %}">
						 O-D matrix 
					</a>
					<a role="button" class="btn btn-outline-primary w-50" href="{% url 'metro:pricing_main' simulation.id demandsegment.id %}">
						Road pricing
					</a>
				</div>
				{% if owner %}
				<br>
				<div class="btn-group my-1" role="group">
					<button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#deleteModal_{{ demandsegment.id }}">
						Delete
					</button>
				</div>
				{% endif %}
				</center>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% else %}
The simulation has no traveler type.
{% endif %}

{% if owner %}
<br>
<a role="button" class="btn btn-primary my-3" href="{% url 'metro:usertype_add' simulation.id %}" title="Create a new traveler type and start editing the parameters">
	<i class="fas fa-plus-circle"></i> Add a traveler type
</a>
{% endif %}

<br>
<a role="button" class="btn btn-secondary mt-5" href="{% url 'metro:simulation_view' simulation.id %}" title="Go back to the simulation view page">
	<span class="far fa-caret-square-left"></span> Back
</a>

</center>

{% if owner %}
{% for demandsegment in demandsegments %}
<div class="modal fade" id="deleteModal_{{ demandsegment.id }}" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Delete a traveler type</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				Do you really want to delete '{{ demandsegment.usertype }}'?
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary mx-auto" data-dismiss="modal">Close</button>
				<a role="button" class="btn btn-danger mx-auto" href="{% url 'metro:usertype_delete' simulation.id demandsegment.id %}">Delete</a>
			</div>
		</div>
	</div>
</div>
{% endfor %}
{% endif %}

{% endblock %}
